<div class="grid">

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Loans</span>
                    <div class="text-900 font-medium text-xl">{{ getNumberOfLoans() }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-book text-blue-500 text-xl"></i>
                </div>
            </div>
            <span
                class="text-green-500 font-medium">
                {{ calculateAverageInterestRate() * 0.01 | percent:'1.2-2' }}
            </span>
            <span class="text-500">average interest rate</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Principals</span>
                    <div
                        class="text-900 font-medium text-xl">
                        {{ this.getLatestLoanAmount() * 0.001 | currency:'ZAR': 'symbol':'1.0-1' }}k
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-money-bill text-orange-500 text-xl"></i>
                </div>
            </div>
            <span
                class="text-green-500 font-medium">
                {{ this.calculateAverageRequestAmount() * 0.001 | currency:'ZAR': 'symbol':'1.0-1' }}k
            </span>
            <span class="text-500">average</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Terms</span>
                    <div class="text-900 font-medium text-xl">{{ getLatestLoanTerms() }} Months</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calendar-plus text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{ calculateAverageDuration() | number: '1.0-0' }} months </span>
            <span class="text-500">average</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Payments</span>
                    <div class="text-900 font-medium text-xl">{{ calculateTotalPayments() }} Total</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                     [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calculator text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-red-500 font-medium">0 </span>
            <span class="text-500">missed</span>
        </div>
    </div>

    <div class="col-12">
        <div style="display: flex; justify-content: space-between;">
            <button
                routerLink="/reecheble-finance/loan-accounts"
                pButton
                class="p-button-outlined"
                icon='pi pi-fw pi-book'
                label="Reecheble Loans">
            </button>
            <button
                pButton
                icon='pi pi-fw pi-money-bill'
                label="Add Loan"
                (click)="openNew()">
            </button>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Reecheble Account : <span class="pi text-primary text-xl">{{ this.accountNumber }}</span></h5>
            <p-toast></p-toast>
            <p-table [value]="loans" dataKey="reference" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div style="display: flex; justify-content: space-between;">
                        <button pButton class="p-button-secondary"
                                icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}"
                                label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                    </div>
                    <div class="flex table-header">
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="reference">Reference
                            <p-sortIcon field="reference"></p-sortIcon>
                        </th>
                        <th pSortableColumn="amount">Amount
                            <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th pSortableColumn="interestRate">Interest Rate
                            <p-sortIcon field="interestRate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="duration">Duration (Months)
                            <p-sortIcon field="duration"></p-sortIcon>
                        </th>
                        <th pSortableColumn="originationDate">Origination Date
                            <p-sortIcon field="originationDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dueDate">Due Date
                            <p-sortIcon field="dueDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="equatedMonthlyInstallment">EMI
                            <p-sortIcon field="equatedMonthlyInstallment"></p-sortIcon>
                        </th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loan let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="loan"
                                    class="p-button-text p-button-rounded p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 12rem;">{{ loan.reference }}</td>
                        <td style="min-width: 8rem;">{{ loan.amount | currency:'ZAR' }}</td>
                        <td style="min-width: 10rem;">{{ loan.interestRate * 0.01 | percent:'1.2-2' }}</td>
                        <td style="min-width: 10rem;">{{ loan.duration }}</td>
                        <td style="min-width: 10rem;"><p>{{ loan.originationDate | date: 'mediumDate' }}</p></td>
                        <td style="min-width: 10rem;"><p>{{ loan.dueDate | date: 'mediumDate' }}</p></td>
                        <td style="min-width: 8rem;">{{ loan.equatedMonthlyInstallment | currency:'ZAR' }}</td>
                        <td>
                            <p-button
                                *ngIf="this.shouldDisplayInstallmentButton(loan)"
                                type="button"
                                icon='pi pi-fw pi-credit-card'
                                label="Pay"
                                (click)="openNewInstallmentDialog()">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-loan>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="loan.repaymentHistory" dataKey="month" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="month">Month
                                                <p-sortIcon field="month"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="equatedMonthlyInstallment">EMI
                                                <p-sortIcon field="equatedMonthlyInstallment"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="interestPaid">Interest Paid
                                                <p-sortIcon field="interestPaid"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="principalPaid">Principal Paid
                                                <p-sortIcon field="principalPaid"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="loanBalance">Running Balance
                                                <p-sortIcon field="loanBalance"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-repaymentHistory>
                                        <tr>
                                            <td>{{ repaymentHistory.month }}</td>
                                            <td>{{ repaymentHistory.equatedMonthlyInstallment | currency:'ZAR' }}</td>
                                            <td>{{ repaymentHistory.interestPaid | currency:'ZAR' }}</td>
                                            <td>{{ repaymentHistory.principalPaid | currency:'ZAR' }}</td>
                                            <td>{{ repaymentHistory.loanBalance | currency:'ZAR' }}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">There are no paid installments for this loan yet.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog
        [(visible)]="loanRequestDialog"
        [style]="{width: '450px'}"
        header="Loan Request"
        [modal]="true"
        class="p-fluid">

        <ng-template pTemplate="content">
            <div class="field">
                <label for="accountNumber">Account Number</label>
                <input type="text" pInputText id="accountNumber" [(ngModel)]="loanRequest.accountNumber" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanRequest.accountNumber}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanRequest.accountNumber">Account number is
                    required.</small>
            </div>
            <div class="field">
                <label for="requestAmount">Request Amount</label>
                <input type="number" pInputText id="requestAmount" [(ngModel)]="loanRequest.requestAmount" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanRequest.requestAmount}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanRequest.requestAmount">Request amount is
                    required.</small>
            </div>
            <div class="field">
                <label for="interestRate">Interest Rate</label>
                <input type="number" pInputText id="interestRate" [(ngModel)]="loanRequest.interestRate" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanRequest.interestRate}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanRequest.interestRate">Interest rate is
                    required.</small>
            </div>
            <div class="field">
                <label for="paymentPeriodInMonths">Payment Period</label>
                <input type="number" pInputText id="paymentPeriodInMonths"
                       [(ngModel)]="loanRequest.paymentPeriodInMonths" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanRequest.paymentPeriodInMonths}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanRequest.paymentPeriodInMonths">Payment
                    period is
                    required.</small>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="addLoanRequest()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog
        [(visible)]="loanInstallmentRequestDialog"
        [style]="{width: '450px'}"
        header="Loan Installment"
        [modal]="true"
        class="p-fluid">

        <ng-template pTemplate="content">
            <div class="field">
                <label for="reference">Loan Reference</label>
                <input type="text" pInputText id="reference" [(ngModel)]="loanInstallmentRequest.reference" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanInstallmentRequest.reference}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanInstallmentRequest.reference">Loan reference
                    number is
                    required.</small>
            </div>
            <div class="field">
                <label for="installmentAmount">Request Amount</label>
                <input type="number" pInputText id="installmentAmount"
                       [(ngModel)]="loanInstallmentRequest.installmentAmount" required
                       autofocus
                       [ngClass]="{'ng-invalid ng-dirty' : submitted && !loanInstallmentRequest.installmentAmount}"/>
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !loanInstallmentRequest.installmentAmount">Installment
                    amount is
                    required.</small>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="addLoanInstallmentRequest()"></button>
        </ng-template>
    </p-dialog>
</div>
